name: dependency-review

on:
  workflow_call:
     
jobs:
  dependency-review:
    name: dependency review
    runs-on: ubuntu-latest
    permissions:
      contents: read    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/dependency-review-action@v2
