name: docker

on:
  workflow_call:
    inputs:
      samoDockerFile:
        description: 'Dockerfile path in the project'
        default: 'src/main/docker/Dockerfile'
        required: false
        type: string
      artifact:
        description: 'Name of the artifact for the build'
        default: 'package'
        required: false
        type: string  
      push:
        description: 'Push docker image'
        default: false
        required: false
        type: boolean
      tags:
        description: 'Additional docker image tags'
        default: '{{ .Version }}'
        required: false
        type: string
      platform:
        description: 'Docker platforms'
        default: ''
        required: false
        type: string
      buildx:
        description: 'Docker buildx'
        default: false
        required: false
        type: boolean                      
jobs:
  docker:
    name: docker build and push
    # runs-on: [ self-hosted, aws ]
    runs-on: ubuntu-latest
    env:
      DOCKER_CONFIG: $HOME/.docker
      SAMO_DOCKER_FILE:  ${{ inputs.samoDockerFile }}
      SAMO_DOCKER_REGISTRY: ghcr.io
      SAMO_DOCKER_GROUP: ${{ github.repository_owner }}/
      SAMO_DOCKER_TAG_TEMPLATE_LIST: ${{ inputs.tags }}  
      SAMO_DOCKER_RELEASE_REGISTRY: ghcr.io
      SAMO_DOCKER_RELEASE_GROUP: ${{ github.repository_owner }}/
      SAMO_DOCKER_SKIP_OPENCONTAINERS_LABELS: 'false'
      SAMO_DOCKER_CONTEXT: '.'
      SAMO_DOCKER_SKIP_PULL: 'false'
      SAMO_DOCKER_BUILD_PUSH: ${{ inputs.push }}
      SAMO_DOCKER_SKIP_DEV: 'true'
      SAMO_DOCKER_REMOVE_INTERMEDIATE_IMG_SKIP: 'false'
      SAMO_CONVENTIONAL_COMMITS: 'true'
      SAMO_DOCKER_BUILDX: ${{ inputs.buildx }}
      SAMO_DOCKER_PLATFORM: ${{ inputs.platform }}
    steps:
    - uses: lorislab/install-samo-action@v2
      with:
        version: '3.10.0'
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/download-artifact@v4
      if: ${{ inputs.artifact != '' }}
      with:
        name: ${{ inputs.artifact }}
        path: .
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3
    - uses: docker/login-action@v3
      with:
        registry: ${{ env.SAMO_DOCKER_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}  
    - name: docker build
      run: samo project docker build -v debug
