name: changelog

on:
  workflow_call:

jobs:
  changelog:
    name: generate changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref_name }}    
      - uses: lorislab/install-changelog-action@v1
      - name: Create changelog 
        run: changelog generate --create-release --close-version --file .github/changelog.yaml
        env:
          CHANGELOG_TOKEN: ${{ secrets.GITHUB_TOKEN }}