name: helm

on:
  workflow_call:
   
jobs:
  helm:
    name: helm release
    runs-on: ubuntu-latest
    env:
      SAMO_DOCKER_REGISTRY: ghcr.io
      SAMO_DOCKER_RELEASE_REGISTRY: ghcr.io
      SAMO_HELM_SOURCE_DIR: ${{ inputs.samoHelmSourceDir }}
      SAMO_HELM_SOURCE_COPY: ${{ inputs.samoHelmSourceCopy }}
      SAMO_HELM_REGISTRY: oci://ghcr.io/${{ github.repository_owner }}/charts      
      SAMO_HELM_DIR: target/helm
      SAMO_HELM_CHART_TEMPLATE_LIST: 'version={{ .Version }},appVersion={{ .Version }},name={{ .Name }}'
      SAMO_HELM_VALUES_TEMPLATE_LIST: 'app.image.registry=ghcr.io,app.image.tag={{ .Version }},app.image.repository=${{ github.repository_owner }}/{{ .Name }}'
      SAMO_HELM_VALUES_RELEASE_TEMPLATE_LIST: 'app.image.registry=ghcr.io,app.image.tag={{ .Release }},app.image.repository=${{ github.repository_owner }}/{{ .Name }}'
      SAMO_HELM_CHART_RELEASE_TEMPLATE_LIST: 'version={{ .Release }},appVersion={{ .Release }},name={{ .Name }}'
      SAMO_CONVENTIONAL_COMMITS: 'true'      
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref_name }}
      - uses: lorislab/install-samo-action@v2
      - uses: docker/login-action@v2
        with:
          registry: ${{ env.SAMO_DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: helm release
        run: samo project helm release -v debug     