name: helm

on:
  workflow_call:
    inputs:
      helmSourceDir:
        description: 'Helm source directory path'
        default: 'src/main/helm'
        required: false
        type: string
      helmSourceCopy:
        description: 'Samo copy and filter helm source directory'
        default: false
        required: false
        type: boolean
      helmDir:
        description: 'Helm directory path'
        default: 'src/main/helm'
        required: false
        type: string 
      helmAbsoluteDir:
        description: 'Helm absolute directory path, not add project name to the path'
        default: true
        required: false
        type: boolean           
      artifactPath:
        description: 'Artifact path'
        default: 'target'
        required: false
        type: string
      push:
        description: 'Push helm package'
        default: false
        required: false
        type: boolean
      artifact:
        description: 'Name of the artifact for the build'
        default: 'package'
        required: false
        type: string
      templateValuesYaml:
        description: 'Template to replace values in values.yaml file'  
        required: false
        default: 'app.image.registry=ghcr.io,app.image.tag={{ .Version }},app.image.repository=${{ github.repository_owner }}/{{ .Name }}'
        type: string
jobs:
  helm:
    name: helm build and push
    # runs-on: [ self-hosted, aws ]
    runs-on: ubuntu-latest
    env:
      SAMO_DOCKER_REGISTRY: ghcr.io
      SAMO_DOCKER_RELEASE_REGISTRY: ghcr.io
      SAMO_HELM_ABSOLUTE_DIR: ${{ inputs.helmAbsoluteDir }}
      SAMO_HELM_SOURCE_DIR: ${{ inputs.helmSourceDir }}
      SAMO_HELM_SOURCE_COPY: ${{ inputs.helmSourceCopy }}
      SAMO_HELM_REGISTRY: oci://ghcr.io/${{ github.repository_owner }}/charts      
      SAMO_HELM_DIR: ${{ inputs.helmDir }}
      SAMO_HELM_CHART_TEMPLATE_LIST: 'version={{ .Version }},appVersion={{ .Version }},name={{ .Name }}'
      SAMO_HELM_VALUES_TEMPLATE_LIST: ${{ inputs.templateValuesYaml }}
      SAMO_CONVENTIONAL_COMMITS: 'true'
    steps:
      - uses: lorislab/install-samo-action@v2
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: docker/login-action@v2
        with:
          registry: ${{ env.SAMO_DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}        
      - uses: actions/download-artifact@v3
        if: ${{ inputs.artifact != '' }} 
        with:
          name: ${{ inputs.artifact }}
          path: ${{ inputs.artifactPath }}
      - name: helm build
        run: samo project helm build -v debug
      - name: helm push
        if: ${{ inputs.push }}
        run: samo project helm push -v debug 
